* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 0;
  line-height: 1.6;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(16, 141, 165);
}

.nav-left {
  display: grid;
  align-items: left;
  justify-content: center;
}

.nav-logo {
  display: grid;
  justify-content: center;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 150px;
  height: 50px;
}

/*
.iconify-icon img {
  align-self: center;
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
}
*/
.nav-links {
  visibility: hidden;
  list-style: none;
  max-height: 0;
  overflow: hidden;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin: 20px;
}
a:link,
a:visited {
  background-color: #0c8365;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(8, 75, 35);
}
.navbar a:hover {
  background-color: hsl(131, 78%, 38%);
}

.shop-button {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btns {
  display: flex;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background: hsl(0, 0%, 25%);
  color: black;
  border: none;
  cursor: pointer;
  transition: 0, 3s;
}

.btn:hover {
  background: hsl(0, 0%, 10%);
  color: white;
  box-shadow: 0 0 25px darkgreen;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product p {
  font-weight: 600;
}
.product img {
  height: auto;
  border-radius: 10px;
}

/* .outer {
  border: 5px solid black;
}
.box {
  padding: 10px;
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
}
*/
/*
.wrapper {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
}
*/
